
schema/\.CI/\.pytest_cache/

schema/\.CI/__pycache__/

\.pytest_cache/

pylib/\.mypy_cache/

pylib/\.vscode/

pylib/__pycache__/

pylib/MZQC/__pycache__/

pylib/tests/__pycache__/

pylib/MZQC\.egg-info/

